body{
	color:#fff;
	background-color: #B7ED21;
}
/**HEADER**/
#header-nav{
	background-color:#B39772;
	border-radius:0;
	border:0;
}

.navbar-default .navbar-brand{
	font-family: 'Lobster', cursive;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 30px;
	color:#fff;
	text-shadow: 1px 1px 1px #000;
}

#nav-list a{
	text-align: center;
	color:#000;
	font-size: 1.2em;
	font-weight: bold;
	font-style: oblique;
}
#nav-list a:hover{
	background: #fff;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:1px solid #60401f;
}
.navbar-header button.navbar-toggle:hover, .navbar-header button.navbar-toggle:focus{
	background: #fff;	
}
h1{
	font-family: cursive;
	color:#60401f;
}
section{
	margin-top: 20px;
	background-color: #C0C0C0;
	color:#60401f;
	font-size: 18px;
	
}
p{
	margin:5px 20px 5px 20px;	
}